<!doctype html>
<html>
	<head>
		<link href="/assets/style.css?private" rel="stylesheet" type="text/css" />
		<script src="/assets/jquery-1.9.1.js?private"></script>
		<script src="/assets/jquery-ui.js?private"></script>
		<script>
			$(document).ready(function() {
				var $sortable = $('.sortable');
				$sortable.sortable();
				$sortable.disableSelection();
			});
		</script>

		<title><%= basename %></title>
	</head>
	<body>
		<ul id="directories" class="block pin">
			<h2>Folders</h2>
			<% directories.forEach(function(directory){ %>
			<li><a href="<%= directory.url %>"><%= directory.name %>/</a></li>
			<% }); %>
		</ul>
		<ul id="files" class="block pin">
			<h2>Files</h2>
			<% files.forEach(function(file){ %>
			<li><a href="<%= file.url %>"><%= file.name %></a></li>
			<% }); %>
		</ul>
		<div class="pin">
			<h2>Browsing <%= name %></h2>
		</div>
		<br style="clear: both;" />
		<div id="wrapper">
			<ul class="columns sortable">
			<% pictures.forEach(function(picture){ %>
			<li class="pin" data-name="<%= picture.name %>">
				<a href="<%= picture.url %>"><img src="<%= picture.url %>" /></a>
				<p><a href="<%= picture.url %>"><%= picture.name %></a></p>
			</li>
			<% }); %>
			</ul>
		</div>
	</body>
</html>
