<!doctype html>
<html>
	<head>
		<link href="/assets/style.css?private" rel="stylesheet" type="text/css" />
		<meta charset="UTF8">
		<script src="/assets/jquery-1.9.1.js?private"></script>
		<script src="/assets/jquery-ui.js?private"></script>
		<script>
			$(document).ready(function() {
				var $sortable = $('.sortable');
				$sortable.sortable({handle: '.handle', opacity: .7, stop: function() {
					var o = {
						order: currentorder()
					}
					$.ajax({url: '?order', data: JSON.stringify(o), type: 'POST', dataType: 'JSON'});
				}});

				$.getJSON('.pins.json', function(data) {
					console.log(data);
					data.order = data.order || [];
					var $pins = $('li.pin');
					for (var i = data.order.length - 1; i >= 0; i--) {
						var $pin = $pins.filter(function() {
							return $(this).data('name') === data.order[i];
						});
						$pin.parent().prepend($pin);
					}
				});
			});

			function currentorder() {
				var o = [];
				$('li.pin').each(function(pin) {
					o.push($(this).data('name'));
				});
				return o;
			}
		</script>

		<title><%= basename %></title>
	</head>
	<body>
		<div class="pin block">
			<h2>Index <%= name %></h2>
		</div>
		<br style="clear: both;" />
		<ul id="directories" class="block pin">
			<h2>Folders</h2>
			<% directories.forEach(function(directory){ %>
			<li><a href="<%= directory.url.replace(/\/*$/g, '') %>/"><%= directory.name %>/</a></li>
			<% }); %>
		</ul>
		<ul id="files" class="block pin">
			<h2>Files</h2>
			<% files.forEach(function(file){ %>
			<li><a href="<%= file.url %>"><%= file.name %></a></li>
			<% }); %>
		</ul>
		<br style="clear: both;" />
		<% if (limithit) { %>
		<em>max limit hit, some pins will be hidden</em>
		<% } %>
		<br style="clear: both;" />
		<div id="wrapper">
			<ul class="columns sortable">
			<% pins.forEach(function(pin, i){ %>
			<li class="pin" data-name="<%= pin.name %>" data-num="<%= i %>">
				<% if (pin.mime.indexOf('audio') > -1) { %>
				<script>
				// album art
				(function() {
					var image = new Image();
					image.onload = function() {
						var el = $("li[data-num='<%= i %>']")[0];
						el.insertBefore(image, el.firstChild);
					};
					image.src = "<%= pin.url %>?art";
				})();
				</script>
				<% } else if (pin.mime.indexOf('video') > -1) { %>
				<video src="<%= pin.url %>" controls></video>
				<% } else if (pin.mime.indexOf('image') > -1) { %>
				<a href="<%= pin.url %>"><img src="<%= pin.url %>" /></a>
				<% } else { %>
				<%= pin.url %>
				<% } %>
				<p>
					<% if (pin.mime.indexOf('audio') > -1) { %>
					<audio src="<%= pin.url %>" controls></audio>
					<% } %>
					<a href="<%= pin.url %>"><%= pin.name %></a>
					<span class="handle">&#x2630;</span>
				</p>
			</li>
			<% }); %>
			</ul>
		</div>
	</body>
</html>
